<div class="post-form-container">
    <div class="post-form">   
        <h3>Title </h3>
        <input 
            type="text"
            class="input-title"
            placeholder="Title"
            [(ngModel)]="addInputTitle">
        <h3>Thoughts</h3>
        <textarea name="" id="" cols="30" rows="10"
            class="input-thought"
            placeholder="Thoughts go here"
            [(ngModel)]="addInputThought"></textarea>
        <button 
            class="add-btn"
            (click)="submitPost()">
            Add Post
        </button>
    </div>
</div>
