h3{ 
    font-family: 'Dosis', sans-serif;
}

.post-form { 
    display: flex;
    flex-direction: column;
    background-color: #B1DDEA;
    border: 1px solid black;
    border-radius: 5px;
    width: 450px;
    margin-bottom: 25px;
    padding: 25px;
}

.add-btn { 
    font-family: 'Dosis', sans-serif;
    background-color: white;
    border-radius: 5px;
    margin-top: 25px;
    height: 40px;
}

.input-title,
.input-thought{ 
    border-radius: 5px; 
    font-family: 'Dosis', sans-serif;
    padding: 8px;
}