h2 { 
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

p { 
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

.post-container { 
    width: 450px;
    padding: 10px 25px;
}

.post-content { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.remove-btn { 
    border: none;
    background: none;
    cursor: pointer;
}